.App {
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.question-entry {
    text-align: left;
}

.new-question-box {
    margin: auto;
    width: 300px;
    border-style: solid;
    border-color: lightgray;
}

.light-box {
    border-style: solid;
    border-color: lightgray;
}

.tabs {
    margin: auto;
    width: 400px;
    border-style: solid;
    border-color: lightgray;
}

.tab-inactive {
    background-color: white;
    color: black;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
}

.tab-active {
    background-color: lightgray;
    color: green;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
}

.answers {
    margin: auto;
    width: 400px;
    border-style: solid;
    border-color: lightgray;
}

.question-bigBlock {
    width: 400px;
    border: 1px gray;
    display: inline-block;
}

.question-full {
    background-color: lightgray;


}

.question-winner {
    color: green;
    font-weight: bold;
    border: 3px green;
    background-color: aquamarine;
    padding: 10px;
}

.question-loser {
    border: 2px black;
    background-color: aliceblue;

    padding: 10px 10px 10px 10px;
}

.question-yourChoice {
    position: relative;
    top: 65px;
    left: 95%;
    margin: -30px 0 0 0;
    z-index: 10000;
    border-radius: 50% !important;
    background-color: yellow;
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    border-bottom-left-radius: 50% !important;

    width: 40px;
    font-size: x-small;
}

.question-details2 {
    width: 100%;
    background-color: white;
    border: 1px solid gray;

    text-align: left;
    align-items: center;
    display: block;
}

.question-graph {
    width: 100%;
    display: flex;
    padding: 5px;
}

.question-summaries {

}

.questions-li {
    margin: 2px 2px 10px 2px;
    border: none;

}

.question-asking {
    background-color: lightgray;
    display: inline-block;
    width: 100%;
    text-align: left;
}


.question-block {
    background-color: white;

    width: 100%;

    display: flex;
}

.question-author {
    background-color: white;
}

.question-avatar {
    border: 1px solid gray;

    background-color: white;

    padding: 10px 10px 7px 10px;

}

.question-id {
    float: right;
    font-size: xx-small;
}

.question-list {
    list-style-type: none;
}

.question-details {
    width: 100%;
    background-color: white;
    border: 1px solid gray;

    text-align: left;
    align-items: center;
    display: grid;
}


.question-button {

}

.nav {
    display: inline-grid;
    background-color: aliceblue;
    white-space: nowrap;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    list-style-type: none;
}

.nav li {
    margin: 5px 5px 5px 5px;
}

.inactive {
    border-bottom: 25px solid green;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    float: left;

}

.active {
    border-bottom: 25px solid lightgreen;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    float: left;
}

.user-box {
    border: 1px solid gray;
    display: inline-flex;
    text-align: center;
}

.user {

}

.user li {
    list-style: none;
}

.user-summary-details {
    margin: 0 10px 0 10px;
    text-align: left;
}

.user-totals {
    margin: 0 10px 10px 0;
    display: inline;
    float: left;
}

.user-totals2 {
    float: right;
}

.user-score-box {
    margin: 5px;
    display: inline-block;
    padding: 20px 0 0 0;
}


.user-score-text {
    border: 1px solid gray;
}

.user-score-circle-box {
    border: 1px solid gray;
}

.user-score-circle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 10px;
    margin: 5px;
    background: greenyellow;
    border: 0 solid #000;
    color: #000;
    text-align: center;
    font: 24px Arial, sans-serif;

}

.login-main {
    border: 2px solid lightgray;
    width: 50%;
    display: inline-block;
}

.login-welcome {
    background-color: lightgray;
    display: flow-root;
    padding: 0 0 10px 0;
}

.login-reactLogo {
    width: 200px;
}